<script>
var socket = new WebSocket('ws://' + window.location.host + '/' + {{ active_list.id }});

socket.onmessage = function message(event) {
    // if sender == me -> do nothing
    var data = JSON.parse(event.data);

    if (data['sender_id'] !== {{ user.id }} && !(data['new_li'])) {
        var elem = $("#" + data['item_id']);
        elem.css('background-color', 'yellow').delay(500).hide(500).show(500);
        // // remove element from active list and add element to inactive list:
        if (elem.hasClass('active')) {
            elem.removeClass( "active" ).addClass( "inactive" );
            setTimeout(function() {
                $("#recently_bought").append(elem);
                elem.removeAttr("style");
            }, 1000);
        }
        else if (elem.hasClass('inactive')) {
            elem.removeClass( "inactive" ).addClass( "active" );
            setTimeout(function() {
                $("#only_active").append(elem);
                elem.removeAttr("style");
            }, 1000);
        }
    }

    if (data['new_li']) {
        // var new_li_text = data['new_li'];
        var newSpanItem = $('<span/>', {
            html: data['new_li'],
            "class": 'item_name',
        });

        var newListItem = $('<li/>', {
            html: newSpanItem,
            "class": 'active',
            "id": data['new_item_id']
        });

        $("#only_active").append(newListItem);
        
    }
};

function active_inactive_switch() {
    var elem = $(this).parent()
    // send message:  
    socket.send(JSON.stringify({
        "item_id": elem.attr('id'),
        "action": "switch"
    }));

    // hide element:
    elem.css('background-color', 'yellow').delay(500).hide(500).show(500);
    // remove element from active list and add element to inactive list:
    if (elem.hasClass('active')) {
        elem.removeClass( "active" ).addClass( "inactive" );
        setTimeout(function() {
            $("#recently_bought").append(elem);
            elem.removeAttr("style");
            elem.append("<span class='delete'>X</span>");
        }, 1000);
    }
    else if (elem.hasClass('inactive')) {
        elem.removeClass( "inactive" ).addClass( "active" );
        elem.children( '.delete' ).remove();
        setTimeout(function() {
            $("#only_active").append(elem);
            elem.removeAttr("style");
        }, 1000);
    }
}

function submit_item() {
    var item_name = $('#id_name').val();
    // send new item name in a message
    socket.send(JSON.stringify({
        'item_name': item_name,
        "action": "additem"
    }));
    // clear input fild
    $('#id_name').val('');
}

function delete_item() {
    var elem = $(this).parent();
    // send message:  
    socket.send(JSON.stringify({
        "item_id": elem.attr('id'),
        "action": "delete"
    }));
    elem.css('background-color', 'red').delay(500).hide(500)
}

function show_menu() {$('#main_menu').toggleClass('hidden');}

$(document).on('click', '.item_name',  active_inactive_switch);
$(document).on('click', '.delete',  delete_item);
$(document).on('click', '#main_menu_toggle',  show_menu);
$('.message button').click(function() {$('.message').hide()});
$(document).on('click', '#item_submit',  submit_item);

</script>